#root {
    width: 100vw;
    height: 100vh;
    
    /* 색상 */
    --main-color: #0F275C;
    --main-opacity-color: #0F275CDD;
    --sub-color: #FFFFFF;
    --sub-opacity-color: #FFFFFF00;
    --sub-opacity-color2: #FFFFFFDD;

    /* 강조 색상 */
    --font-yellow-color: #F4CE3D;
    --font-orange-color: #EF7421;
    --font-blue-color: #56E5FF;
    --font-lightGreen-color: #64C9B9;

    /* dark 색상 */
    --main-dark-color: #1C293A;
    --sub-dark-color: #8C9292;

    /* 에러 색상 */
    --error-color: #FF0000;
}

@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('./assets/fonts/HakgyoansimWoojuR.ttf');
}
  
* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background:
        linear-gradient(rgb(0, 248, 248), transparent),
        linear-gradient(to top left, rgb(0, 248, 200), transparent),
        linear-gradient(to top right, rgb(252, 205, 96), transparent);
    background-blend-mode: screen;
    font-family: 'HakgyoansimWoojuR';
}

/* JavaScript에서 추가할 클래스 */
body.dynamic-background {
    background: none; /* 기존 배경을 무시하고 JavaScript가 제어하게 만듦 */
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.image-logo {
    width: 120px;
}

.side-icon-white {
    color: white;
}

.side-icon {
    color: #0F275C;
}

/* 상담신청 */
.font-color-blue {
    color: blue;
}

.font-color-green {
    color: green;
}

.font-color-orange {
    color: orange;
}

.font-color-red {
    color: red !important;
}